body {
  font-family: 'Roboto Slab', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
.gray-bg {
  background-color: #e7eef4;
}
.banner-bar {
  padding: 18px 0;
  background-color: #c5cfd6;
}
.latest-news-label-wrap {
  text-align: center;
}
@media (min-width: 768px) {
  .latest-news-label-wrap {
    text-align: left;
  }
  .banner-bar .latest-news-label-wrap {
    text-align: right;
  }
}
.latest-news-label {
  font-family: 'Roboto Slab';
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #009ac7;
  margin: 0 0 18px 0;
  display: inline-block;
}
@media (min-width: 768px) {
  .latest-news-label {
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  .latest-news-label {
    font-size: 16px;
    margin-top: 14px;
  }
}
.input-group.newsletter {
  margin: 0;
  width: 100%;
  font-family: 'Roboto Slab';
  font-weight: 700;
  font-size: 18px;
}
.input-group.newsletter .form-control {
  border: solid 1px #e7eef4;
  background-color: #e7eef4;
  -webkit-box-shadow: none;
  -webkit-appearance: caret;
  -moz-appearance: caret;
  box-shadow: none;
  padding: 8px 4px;
  height: 48px;
}
.input-group.newsletter :-moz-placeholder {
  color: #c5cfd6;
}
.input-group.newsletter ::-webkit-input-placeholder {
  color: #c5cfd6;
}
.input-group.newsletter ::-moz-placeholder {
  color: #c5cfd6;
}
.input-group.newsletter :-ms-input-placeholder {
  color: #c5cfd6;
}
.input-group.newsletter .input-group-addon {
  padding: 0;
  border: solid 1px #e7eef4;
  border-radius: 6px;
}
.input-group.newsletter .input-group-addon:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 55px;
  background: url(../images/newsletter-sprite.png) 5px 2px no-repeat #e7eef4;
}
.input-group.newsletter .input-group-addon:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 55px;
  background: url(../images/newsletter-sprite.png) -1px -37px no-repeat #e7eef4;
}
.featurettes {
  background: url(../images/blue-tree-bg.png) center right no-repeat #eaf7fb;
  padding: 3px 0;
  /*background-size: 100%;*/

}
.featurette {
  padding: 16px;
  height: 142px;
  color: #fff;
  margin: 12px 0;
}
.featurette.left {
  background: url(../images/callout-bg-1.jpg) no-repeat #737b83;
  background-size: cover;
  background-position: center center;
}
.featurette.right {
  background: url(../images/callout-bg-2.jpg) no-repeat #737b83;
  background-size: cover;
  background-position: center center;
}
.featurette h3,
.featurette p,
.featurette a {
  color: inherit;
}
.featurette h3 {
  font-family: 'Courgette', arial;
  font-size: 20px;
  line-height: 1;
  margin: 0 0 5px;
  padding: 0;
}
.featurette p {
  font-family: 'Roboto Slab';
  font-size: 25px;
  line-height: 32px;
  margin-bottom: 8px;
}
.featurette a {
  font-family: 'Roboto Slab';
  font-size: 14px;
}
@media (min-width: 768px) {
  .featurettes {
    padding: 20px 0;
  }
  .featurette {
    height: 210px;
    padding: 20px;
  }
  .featurette h3 {
    font-size: 30px;
  }
  .featurette p {
    font-size: 34px;
    line-height: 38px;
    margin-bottom: 30px;
  }
}
.promo-big {
  margin: 70px 0;
  color: #6a737b;
}
.promo-big h2 {
  font-size: 24px;
  margin: 24px 0;
  line-height: 1.2;
}
.promo-big p {
  font-size: 16px;
  margin-bottom: 30px;
}
.promo-big a {
  color: inherit;
  font-size: 16px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .promo-big h2 {
    font-size: 40px;
    margin: 60px 0 30px;
  }
  .promo-big p {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 40px;
    font-weight: 300;
  }
}
/*
	Header
*/
.navbar {
  position: relative;
  z-index: 100;
  min-height: 50px;
  margin-bottom: 0;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.navbar .nav-callout {
  font-family: 'Courgette';
  font-size: 16px;
  color: #61c3a6;
  margin-top: 15px;
  margin-bottom: 15px;
  float: right;
  padding-right: 20px;
  display: none;
}
.navbar .nav-callout .phone {
  font-family: 'Roboto Slab';
  font-weight: 700;
  font-size: 22px;
  display: inline-block;
  margin-left: 8px;
}
.navbar-inverse {
  background-color: #fff;
}
.navbar-inverse .navbar-nav > li > a {
  color: #6a737b;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #009ac7;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > .dropdown.open > a,
.navbar-inverse .navbar-nav > .dropdown:hover > a,
.navbar-inverse .navbar-nav > .dropdown.open > a:hover,
.navbar-inverse .navbar-nav > .dropdown:hover > a:hover,
.navbar-inverse .navbar-nav > .dropdown.open > a:focus,
.navbar-inverse .navbar-nav > .dropdown:hover > a:focus {
  color: #fff;
  background-color: inherit;
  border-color: inherit;
  position: relative;
}
.navbar-inverse .navbar-nav > .dropdown.open > a:after,
.navbar-inverse .navbar-nav > .dropdown:hover > a:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 154, 199, 0);
  border-top-color: #009ac7;
  border-width: 25px;
  margin-left: -25px;
  z-index: 1001;
}
.navbar-inverse .navbar-toggle {
  background-color: #60c2a6;
  z-index: 200;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 7px;
  margin: 0;
  color: #fff;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #6bd4b6;
}
.navbar-nav {
  margin-bottom: 10px;
}
.navbar-header {
  padding: 15px;
  text-align: center;
}
.navbar-collapse {
  padding-right: 0;
  padding-left: 0;
}
.navbar-brand {
  float: none;
  height: auto;
  padding: 0;
  font-size: 18px;
  line-height: 20px;
}
.navbar-brand img {
  display: inline-block;
  width: 206px;
  height: 75px;
}
.nav > li > a {
  font-family: 'Roboto Slab';
  font-size: 16px;
  padding: 10px 15px;
  border: solid 2px transparent;
}
.nav > li.outline {
  margin-left: 10px;
}
.nav > li.outline a {
  color: #0095c3;
  border-color: #0095c3;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.nav > li.outline a:hover {
  background-color: #0095c3;
  color: #fff;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown:hover,
.dropdown.open {
  background-color: #009ac7;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-color: #009ac7;
}
.dropdown-menu {
  border-color: #eaf7fb;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #eaf7fb;
  padding: 0;
  min-width: 166px;
}
.dropdown-menu > li > a {
  padding: 20px 20px;
  line-height: 1.42857143;
  color: #6a737b;
  font-family: 'Roboto Slab';
  font-size: 14px;
  text-align: center;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #009ac7;
  background-color: #fff;
}
@media (min-width: 768px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  .navbar .navbar-collapse {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .navbar-header {
    float: none;
  }
  .navbar-nav {
    float: none;
    display: block;
  }
  .navbar-nav > li {
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .container > .navbar-collapse {
    margin-right: -15px;
    margin-left: -15px;
  }
}
@media (min-width: 1200px) {
  .navbar-header {
    padding: 25px;
    float: left;
    text-align: match-parent;
  }
  .navbar-brand img {
    width: 257px;
    height: 93px;
  }
  .navbar .navbar-nav {
    display: block;
    float: right;
    margin: 0;
    vertical-align: top;
  }
  .navbar .navbar-collapse {
    text-align: match-parent;
  }
  .navbar-inverse {
    /*background-color: rgba(255,255,255,0.7);*/
  
  }
  .container > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
  .navbar .nav-callout {
    display: block;
  }
}
.mm-list > li {
  border-bottom: solid 1px #3d3d3d;
}
.mm-list > li > a,
.mm-list > li > span {
  color: #7d6a56;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-family: "Oswald", sans-serif;
  font-size: 1.1em;
}
.mm-list > li > a:hover,
.mm-list > li > span:hover {
  color: #f4856e;
}
/*
	Footer
*/
.footer {
  background-color: #c5cfd6;
  font-family: 'Roboto Slab';
  font-size: 14px;
}
.footer-bottom {
  background-color: #6a737b;
  text-align: center;
  color: #c5cfd6;
  font-size: 12px;
  min-height: 30px;
  padding: 12px 0;
}
.footer-bottom a {
  color: inherit;
}
.footer-bottom ul {
  margin: 0 auto;
  max-width: 200px;
}
.footer-bottom ul li {
  margin: 0 5px;
}
.footer-bottom ul li:first-child {
  margin-bottom: 7px;
}
.footer-left {
  padding: 35px 0;
  text-align: center;
  background-color: #e7eef4;
  margin-right: -15px;
  margin-left: -15px;
}
.footer-left p {
  font-size: 12px;
  color: #6a737b;
  line-height: 22px;
  margin: 35px 0 0;
  text-align: center;
}
.footer-left p a {
  color: inherit;
}
.footer-left img {
  display: block;
  /*max-width: 100%;
        height: auto;*/

  width: 235px;
  height: 85px;
  margin: 0 auto;
}
.footer-right {
  padding: 25px 0 0 0;
}
.footer-right .newsletter {
  margin-bottom: 20px;
}
.footer-nav {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  padding: 0;
  list-style-type: none;
  margin: 0 10px 20px 10px;
}
.footer-nav li a {
  font-family: inherit;
  color: #6a737b;
  font-size: 16px;
  display: inline-block;
  margin: 7px 0;
}
.footer-box {
  padding: 25px;
  background-color: #60c2a6;
  font-family: 'Roboto Slab';
  color: #fff;
  font-size: 16px;
  margin: 0 -15px;
}
.footer-box label {
  font-size: inherit;
  color: #32846c;
  display: block;
  text-transform: uppercase;
}
.footer-box .phone {
  font-size: 24px;
  display: block;
}
.footer-box p {
  font-size: inherit;
  margin-top: 5px;
}
.footer-box .fa {
  margin: 0 10px 0 5px;
  font-size: 18px;
}
.footer-box .social {
  line-height: 1.8em;
}
.footer-box .social a {
  color: inherit;
}
@media (min-width: 768px) {
  .footer .container {
    width: auto;
  }
  .footer-right {
    padding-bottom: 30px;
  }
  .footer-left {
    text-align: left;
  }
  .footer-left:before,
  .footer-left:after {
    content: " ";
    display: table;
  }
  .footer-left:after {
    clear: both;
  }
  .footer-left .logo-wrap {
    float: left;
    width: 50%;
  }
  .footer-left .contact-wrap {
    float: left;
    width: 50%;
  }
  .footer-left .contact-wrap p {
    text-align: left;
  }
  .footer-nav {
    margin: 0;
  }
  .footer-nav li a {
    font-size: 14px;
    margin: 5px 0;
  }
  .footer-box {
    border-radius: 6px;
    font-size: 14px;
    margin: 0;
  }
  .footer-box label {
    font-size: 12px;
  }
  .footer-bottom ul {
    max-width: none;
  }
  .footer-bottom ul li:first-child {
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  .footer .container {
    width: 970px;
  }
  .footer .latest-news-label {
    font-size: 16px;
  }
  .footer-right {
    margin-left: 25px;
  }
  .footer-left {
    margin-left: 0;
    margin-right: 0;
    background-color: transparent;
  }
  .footer-left .logo-wrap {
    float: none;
    width: auto;
    margin-bottom: 20px;
  }
  .footer-left .contact-wrap {
    float: none;
    width: auto;
    text-align: center;
  }
  .footer-left .contact-wrap p {
    display: inline-block;
  }
}
@media (min-width: 1200px) {
  .footer .container {
    width: 1170px;
  }
  .footer-right {
    margin-left: 75px;
  }
}
.carousel {
  height: 492px;
  margin-bottom: 0;
  position: relative;
  z-index: 99;
}
.carousel-caption {
  z-index: 10;
  text-align: left;
  text-shadow: none;
  top: 10px;
  left: 30px;
}
.carousel-caption h1 {
  font-family: 'Roboto Slab';
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 0;
  line-height: 1;
}
.carousel-caption h3 {
  font-family: 'Courgette';
  font-size: 24px;
  color: #6ddaba;
  margin-top: 10px;
  margin-bottom: 5px;
}
.carousel-caption p {
  font-family: 'Roboto Slab';
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 30px;
  max-width: 350px;
}
.carousel-caption-image {
  position: absolute;
  right: 20px;
  top: 80px;
  display: none;
}
.carousel-caption-image img {
  width: 327px;
  height: 325px;
}
.carousel .item.item-light h1 {
  color: #009ac7;
}
.carousel .item.item-light p {
  color: #6a737b;
}
.carousel .item {
  height: 492px;
  background-color: #fff;
}
.carousel .item > .container {
  position: relative;
}
.carousel-control.left,
.carousel-control.right {
  background-image: none;
  filter: none;
}
.carousel-indicators li {
  border-color: #fff;
  background-color: #fff;
}
.carousel-indicators .active {
  background-color: #5fc2a5;
  border-color: #5fc2a5;
}
.carousel .item-background {
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.carousel .item-one .item-background {
  background-image: url(../images/slide-1-bg.jpg);
}
.carousel .item-two .item-background {
  background-image: url(../images/slide-2-bg-2.jpg);
}
.carousel .item-three .item-background {
  background-image: url(../images/slide-3-bg-2.jpg);
}
@media (min-width: 768px) {
  .carousel-caption-image {
    display: block;
  }
  .carousel-caption {
    top: 75px;
    left: 20px;
  }
  .carousel-caption h1 {
    font-size: 55px;
  }
  .carousel-caption h3 {
    font-size: 30px;
  }
  .carousel-caption p {
    font-size: 18px;
  }
  .carousel .item-background {
    background-position: center center;
  }
}
@media (min-width: 992px) {
  .carousel-caption h1 {
    margin-bottom: 10px;
    margin-top: 0;
    line-height: 1;
  }
  .carousel-caption h3 {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .carousel-caption p {
    line-height: 1.6;
    margin-bottom: 30px;
  }
  .carousel-caption-image {
    top: 45px;
  }
  .carousel-caption-image img {
    width: auto;
    height: auto;
  }
}
.btn-outline {
  padding: 10px 40px;
  border-style: solid;
  border-width: 2px;
  font-family: 'Roboto Slab';
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.btn-outline.btn-white {
  border-color: #fff;
  color: #fff;
}
.btn-outline.btn-white:hover {
  background-color: #fff;
  color: #009ac7;
}
.btn-outline.btn-gray {
  border-color: #6a737b;
  color: #6a737b;
}
.btn-outline.btn-gray:hover {
  background-color: #6a737b;
  color: #fff;
}

